.totalItems_project{
    border: 1px solid rgb(210, 210, 210);
    border-radius: 10px;
}

.principal_items{
    font-family: 'Commissioner', sans-serif;
    display: flex;
    justify-content: space-between;
}

.p_items{
   padding-left: 2vh;
}

.principal_items span{
    color: hsl(176, 50%, 47%);
}

.div_bottom_project{
    display: flex;
    justify-content: space-between;
}

.span_left{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Commissioner', sans-serif;
    font-weight: bold;
}
.span_left p{
    font-size: 18px;
    font-weight: lighter;
}

.left_number span{
    font-family: 'Commissioner', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.btn_reward{
    padding: 1.5vh;
    border-radius: 25px;
    font-family: 'Commissioner', sans-serif;
    border: none;
    background-color: hsl(176, 50%, 47%);
    font-weight: bold;
    color: white;
    cursor: pointer;
}

@media (max-width: 740px){

.principal_items{
    display: flex;
    flex-direction: column;
}

.div_bottom_project{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;

}

 }


