.rewardsTotal{
    border: 1px solid rgb(197, 197, 197);
    border-radius: 8px;
    margin: 2vh;
    padding: 2vh;
    cursor: pointer;
}
.bamboo-active{
    border: 2px solid hsl(176, 50%, 47%);
}

.containerTop{
    display: flex;
    justify-content: space-between;
}
.containerTop h2{
   color: black;
}
.containerTop .price_reward{
    color: hsl(176, 50%, 47%);
}
.span_reward{
    display: flex;
    justify-content: center;
    align-items: center;
}

.span_reward p:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: black;
    font-weight: bold;
}
.span_reward p:nth-child(2){
   margin-left: 5px;
   font-size: 15px;
}


@media (max-width: 740px){
    .container_modal{
        width: 50vh;
    }
    .containerTop{
        display: flex;
        flex-direction: column;
        
    }
    .containerTop h2{
        margin: 1vh;
 
    }
    .containerTop p{
        margin: 1vh;
    }
    .parrafo_reward{
        margin: 1vh;
    }

    .span_reward{
        display: none;
    }
}

@media (max-width: 740px){
    .totalPiedgeNoReward{
        display: flex;
        flex-direction: column;
        padding: 7vh;
    }

    .totalPiedgeNoReward span{
        margin: 1vh;
    }
    .totalPiedgeNoReward input{
        margin: 1vh;
        padding: 1vh;
    }
    .totalPiedgeNoReward button{
        padding: 1vh;
        margin: 1vh;
        
    }
}